<div class="text-center">

    <h5>Learn about Devops Automation....</h5>
    <br>
    <p>DevOps is a set of practices that works to automate and integrate the processes between software development and
        IT teams, so they can build, test, and release software faster and more reliably.

        <br><br>
        Automation is essential to DevOps success. Instead of requiring humans to manually check code into a repository,
        run tests throughout the development process, and deploy code to production, DevOps practitioners streamline
        this process by automating each step.

        <br><br>
        Automation helps teams improve key DevOps metrics. DevOps teams move away from long lead time for changes and
        scheduled deployments to continuous integration, delivery, and deployment. They move away from reactive problem
        detection to proactive monitoring and observability, which reduces mean time to recovery (MTTR).
    </p>

</div>
